<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/main.css" />
  <title>Dashboard_COVID_19</title>

</head>

<body>
  <!-- titre de la page-->
  <header>
    <h1 id="titrePrincipal">Analyse d'une partie des données disponibles en open source sur la COVID-19</h1>
  </header>

  <!-- Suivi Google News -->

  <section id='google'>
  
  <h2>Suivi de l'actualité sur la COVID-19</h2>

  <h3>Flux journaliers</h3>
    <div>
      <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=b6d31468-7332-4516-8d7f-591d452db43b&autoAuth=true&ctid=20f62116-4d0c-44ac-8a45-390ca2765601&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">
      </iframe>
    </div>

    <div>
  <h4> Ressource : <a target="_blank" href='https://news.google.com/topics/CAAqBwgKMPrWlwswrICvAw?hl=fr&gl=FR&ceid=FR%3Afr'> news.google.com </a> </h4>
    </div>
  </section>

  <!-- Dashboard Tableau -->
  <section id='mondeTableau'>
    <h2>Suivi mondial de la COVID-19</h2>

    <h3>Evolution par pays carte mondiale</h3>

    <div>
      <script type='text/javascript' src='https://dub01.online.tableau.com/javascripts/api/viz_v1.js'></script>
      
      <div id='tableau' class='tableauPlaceholder' style='width: 1140px; height: 827px; text-align: center;'>
        <object class='tableauViz' width='1140' height='827' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fdub01.online.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='&#47;t&#47;widecodeschoolgrx' />
          <param name='name' value='TableauV2_covid&#47;DashbordTabCovid19' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='showAppBanner' value='false' />
        </object>
      </div>
      <h4> Ressources : <a target="_blank" href='https://www.data.gouv.fr/fr/datasets/r/f4935ed4-7a88-44e4-8f8a-33910a151d42'>coronavirus-covid19-evolution-par-pays-et-dans-le-monde-maj-quotidienne/
        source data.gouv</a></h4>    
  </section>

    <!-- Dashboard PowerBI -->
  <section id='mondePbi'>
    <h3>Analyse par pays </h3>

      <div id='powerbi'>
        <iframe width="1140" height="640" src="https://app.powerbi.com/reportEmbed?reportId=80bc5ae8-a90b-40d3-b62f-c7e171011c96&autoAuth=true&ctid=20f62116-4d0c-44ac-8a45-390ca2765601&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">
        </iframe>
      </div>
    <h4> Ressources : <a target="_blank" href='https://systems.jhu.edu/research/public-health/ncov/'>Johns Hopkins University</a></h4>   
  </section>

  <!-- Dashboard Centre hospitalier France-->

  <section id='France_Hosp'>
    <h2>Focus Centres hospitaliers France</h2>
    
    <h3>Evolution des décès dans les centres hospitaliers</h3>
      <div id='franceHospi'>
        <iframe width="1140" height="640" src="https://app.powerbi.com/reportEmbed?reportId=50db227b-896d-48ab-bd6d-5e5993cdc755&autoAuth=true&ctid=20f62116-4d0c-44ac-8a45-390ca2765601&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">
        </iframe>
      </div> 
  </section>

  <!-- Dashboard Centre hospitalier Rea -->

  <section id='France_rea'>
     
    <h3>Focus sur les services de réanimation</h3>

      <div id='francerea'>
        <iframe width="1140" height="640" src="https://app.powerbi.com/reportEmbed?reportId=35d9e735-6afd-4d3c-880b-d51da524d968&autoAuth=true&ctid=20f62116-4d0c-44ac-8a45-390ca2765601&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">
        </iframe>
      </div>
      
    <h4>Ressources : </h4>
    <ul>
      <li><a target="_blank" href='https://drees.solidarites-sante.gouv.fr/etudes-et-statistiques/publications/article/nombre-de-lits-de-reanimation-de-soins-intensifs-et-de-soins-continus-en-france'>drees.solidarites-sante.gouv.fr</a> </li>
      <li><a target="_blank" href='https://www.data.gouv.fr/fr/datasets/donnees-hospitalieres-relatives-a-lepidemie-de-covid-19/#_'>www.data.gouv.fr</a> </li>
      <li><a target="_blank" href='https://www.srlf.org/wp-content/uploads/2015/11/1203-Reanimation-Vol21-N3S3-p540_pS561.pdf'>Reanimation-Vol21-N3S3-p540_pS561.pdf</a> </li>
      <li><a target="_blank" href='https://solidarites-sante.gouv.fr/fichiers/bo/2002/02-14/a0141331.htm'>solidarites-sante.gouv.fr</a> </li>
    </ul>
    
  </section>

 
  <!-- Gestion chart Bokeh 
  <div id='bokeh'>
  {%include 'bokeh.html'%}
  
  </div>
-->
  
</body>

</html>