body
{
    background-color : #DCDCDC;
}

header, #titrePrincipal
{
    width : 1220px;
    background-color: #c7c3c2;
    border-radius: 30px;
    padding : 3px;
    color : navy;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h2
{
    margin-top: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B4C7E7;
}

h3
{
    margin-top: 5%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h4
{
    font-family: Arial, Helvetica, sans-serif; 
}

#google
{
    width : 1140px;
    margin: auto;    
}

#ressource_google
{
    margin-left: 341px;
}


#mondeTableau
{
    width : 1140px;
    margin: auto;   
}

#mondePbi
{
    width : 1140px;
    margin: auto;
}

#France
{
    width : 1140px;
    margin: auto;
}

#France_Hosp
{
    width : 1140px;
    margin: auto;
}


#France_rea
{
    width : 1140px;
    margin: auto;
}

